<div class="row">
 	 <h1 class="page-header" align="center">
      	Publishing page
 	 </h1><br>
 	 <div class="table-responsive">
              <table class="table table-striped" style="border: 1px groove; border-color:#F7F7F7"">
                   <thead>
                     <tr style="background-color:#96C2EE">                    	
                        <td align="center"><b>Title</b></td>
                        <td align="center"><b>Author</b></td>                                                  
                        <td align="center"><b>Apstrakt</b></td>
                        <td align="center"><b>File name</b></td>                       
                        <td></td>                                             
                     </tr>
                   </thead>
                   <tbody>
                     <tr data-ng-repeat="doc in unpublishedDocs">                    	
                         <td align="center">{{doc.title}}</td>
                         <td align="center">{{doc.author}}</td>
                         <td align="center">{{doc.apstract}}</td>
                         <td align="center">{{doc.fileName}}</td>
                         <td align="center"><button type="submit" class="btn btn-primary" ng-click="publishDocument(doc.uid)">Publish</button></td>
                     </tr>                
                   </tbody>
             </table>                  
  	 </div>
  	 
</div>